.bothcar {
    height: 80vh;
    /*background: linear-gradient(to bottom, #dddddd, #dddddd, #dddddd, #aaaaaa, #888888);*/
    background: url('/img_index/backcars.jpg') center center;
    background-size: auto 100%;
    position: relative;
    transition: all 0.5s;
}

.bothcar-menu {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    z-index: 1;
}

.bothcar-menu h3 {
    font-size: 2vw;
    font-weight: 500;
    padding: 5px 15px;
    opacity: 0.35;
    cursor: pointer;
}

#bothcar-menu1 {
    opacity: 1;
}

.bothcar-img-toyota {
    height: 30vw;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 0;
}

.bothcar-img-mitsubishi {
    height: 38vw;
    object-fit: contain;
    position: absolute;
    top: 49%;
    left: 62%;
    transform: translate(-50%, -40%);
    transition: all 0.5s;
    z-index: 0;
}

.bothcar-detail {
    position: absolute;
    left: 15%;
    top: 20%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.5s;
}

.bothcar-detail-all {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    opacity: 0.2;
    transition: all 0.3s;
}
.bothcar-detail-all h1 {
    font-size: 12vw;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-shadow: none;
    color: #000000;
}

.bothcar-detail h2 {
    font-size: 3vw;
    font-weight: 500;
}

.bothcar-detail h3 {
    font-size: 2vw;
    font-weight: 400;
}

.bothcar-detail h4 {
    font-size: 1.3vw;
    font-weight: 400;
}

@media (max-width:1100px){
    .bothcar {
        height: 40vh;
    }
    .bothcar-menu {
        padding-top: 25px;
    }
    .bothcar-menu h3 {
        font-size: 4vw;
        font-weight: 500;
        padding: 5px 10px;
    }
    .bothcar-detail {
        position: absolute;
        left: 15%;
        top: 40%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: all 0.5s;
        scale: 1.5;
    }
    .bothcar-img-toyota {
        height: 40vw;
        object-fit: contain;
        position: absolute;
        top: 55%;
        left: 40%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }
    .bothcar-img-mitsubishi {
        height: 50vw;
        object-fit: contain;
        position: absolute;
        top: 55%;
        left: 65%;
        transform: translate(-50%, -40%);
        transition: all 0.5s;
    }
}