.dimension {
    padding: 5% 0;
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #222222, #333333);
}

.dimension-content {
    width: 80vw;
    height: 35vw;
    display: flex;
    flex-direction: row;
}

.dimension-img {
    background: url('/img_index/dimension/carryboy-motorhome-rv-Plan01_0.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    width: 47vw;
    height: 35vw;
    border-radius: 10px;
    position: relative;
}

.dimension-select {
    padding: 0 0 0 35px;
    width: calc(33vw - 35px);
}

.dimension-select h2 {
    padding: 25px 0 0 0;
    font-size: 2vw;
    font-weight: 500;
    font-family: 'Orbitron';
}

.dimension-select h3 {
    padding: 5px 0;
    font-size: 1.2vw;
    font-weight: 300;
    text-indent: 20px;
    margin: 15px 0;
}

.dimension-select-text {
    padding: 5px 10px;
    border: #cccccc solid 2px;
    width: 7vw;
    margin: 0 10px 0 0;
    border-radius: 6px;
    outline: #aaaaaa00 solid 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.dimension-select-text:hover {
    outline: #aaaaaaff solid 2px;
    background: #eeeeee22;
}

#dimension-select-1 {
    border: #cc0000 solid 2px;
}

.dimension-chooseselect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width:1100px){
    .dimension {
        padding: 3vw 0 10px;
        color: #ffffff;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(to right, #222222, #333333);
    }
    .dimension-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .dimension-img {
        background: url('/img_index/dimension/carryboy-motorhome-rv-Plan01_0.jpg') no-repeat;
        background-position: top center;
        background-size: cover;
        width: 96%;
        height: 74vw;
        border-radius: 10px;
        position: relative;
    }
    .dimension-select {
        padding: 0;
        width: 90%;
    }
    
    .dimension-select h2 {
        padding: 15px 0 0;
        font-size: 5vw;
        font-weight: 500;
        font-family: 'Orbitron';
    }
    
    .dimension-select h3 {
        padding: 15px 0;
        font-size: 3vw;
        font-weight: 300;
        text-indent: 20px;
    }
    
    .dimension-select-text {
        padding: 5px 10px;
        border: #cccccc solid 2px;
        width: fit-content;
        margin: 0 10px 15px 0;
        border-radius: 6px;
        outline: #aaaaaa00 solid 2px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    
    .dimension-select-text:hover {
        outline: #aaaaaaff solid 2px;
        background: #eeeeee22;
    }
    
    #dimension-select-1 {
        border: #cc0000 solid 2px;
    }
    
    .dimension-chooseselect {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
}