.footer {
    height: fit-content;
}

.footermain {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.costomer {
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
}

.costomer_1 {
    width: 100%;
    height: 60px;
    background: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.costomer_1 h2{
    width: fit-content;
    padding: 0 10%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #aa0000;
    border-bottom: #aa0000 solid 2px;
}
.costomer_2_div{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.costomer_2 {
    width: fit-content;
    height: 20vh;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cosimg {
    width: 30vh;
    height: 18vh;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s;
}

.cosimg:hover {
    filter: brightness(1.1);
}

.cos01 {
    background: url('/img_index/cos01.JPG');
    background-size:  cover;
    background-position: center;
}

.cos02 {
    background: url('/img_index/cos02.JPG');
    background-size:  cover;
    background-position: center;
}

.cos03 {
    background: url('/img_index/cos03.JPG');
    background-size:  cover;
    background-position: center;
}

.cos04 {
    background: url('/img_index/cos04.jpg');
    background-size:  cover;
    background-position: center;
}

.cos05 {
    background: url('/img_index/cos05.JPG');
    background-size:  cover;
    background-position: center;
}

.cos06 {
    background: url('/img_index/cos06.jpg');
    background-size:  cover;
    background-position: center;
}

.cos07 {
    background: url('/img_index/cos07.JPG');
    background-size:  cover;
    background-position: center;
}

.cos08 {
    background: url('/img_index/cos08.JPG');
    background-size:  cover;
    background-position: center;
}

.costomer_3 {
    width: 100%;
    height: 20%;
    background: none;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.cospage {
    width: 15px;
    height: 15px;
    background: #aaaaaa;
    border-radius: 50%;
    margin: 0 5px;
}

#cospage01 {
    background: #aa0000;
}

.realfoot {
    width: 100%;
    height: 60%;
    background: none;
    display: flex;
    flex-direction: column;
    background: #2E2B36;
}

.foot_1 {
    display: flex;
    width: 90%;
    height: 86%;
    margin: 2% 5%;
}

.foot_1A {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #bbbbbb;
    width: 100%;
    height: 100%;
}
.foot_1A h2{
    font-size: 30px;
    font-weight: 400;
}

.foot_1B {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #bbbbbb;
    width: 500px;
    height: 100%;
}

.logocontact {
    margin:10px 10px 0 0;
}

.foot_2 {
    display: flex;
    width: 90%;
    height: 10%;
    margin: 0 5%;
    border-top: #ffffff44 solid 1px;
    color: #666666;
}

.foot_2A {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.foot_2B {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}
.foot_2A_Logo {
    width: 30%;
    height: 20px;
    background: url('/img_index/logo.png') no-repeat;
    background-size: contain;
    background-position: left;
    mix-blend-mode: luminosity;
}
.qrline_img {
    width: 150px;
    margin: 10px 0;
    cursor: pointer;
}
@media (max-width:1100px) {
    .costomer_1 h2 {
        font-size: 20px;
    }
    .realfoot {
        width: 100%;
        height: fit-content;
    }
    .foot_1A {
        font-size: 50%;
        width: 90%;
    }
    .foot_1A h2 {
        font-size: 15px;
    }
    .logocontact img {
        width: 15px;
        height: 15px;
    }
    .foot_1B {
        width: 100px;
    }
    .foot_2 {
        font-size: 8px;
    }
    .foot_2A_Logo {
        width: 40%;
    }
    .tel_mail_line {
        display: flex;
        flex-direction: column;
        font-size: 3vw;
    }
    .logocontact {
        margin:2% 4% 0 0;
    }
    .qrline_img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
}