.seen3 {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url('/img_index/interior_1.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    transition: all 0.2s;
}

.seen3_topic {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    align-items: start;
    background-image: linear-gradient(to top, #000000ee, #00000000);
    cursor: default;
}

.seen3_sub {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seen3_sub h3 {
    margin: 5px 10px;
    padding: 15px 2vw 15px 2vw;
    color: #ffffff;
    font-size: 2vw;
}

#IF {
    border-top: #aaaaaaaa solid 7px;
}

#IB {
    border-top: #ffffffaa solid 7px;
}

.pin {
    width: 30px;
    height: 30px;
}

.seen3 h2 {
    font-size: 3vw;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.interior_1 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.prev,
.next {
    background: #00000088;
    width: 50%;
    height: 20%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 40px;
}

.prev {
    margin-right: 50%;
}

.next {
    margin-left: 50%;
}

.prev:hover {
    background: #00000044;
}

.next:hover {
    background: #00000044;
}

.img_interior {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    opacity: 1;
    justify-content: center;
    align-items: flex-start;
}

.img_interior_2 {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    opacity: 0;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width:1100px) {
    .seen3 {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: top center;
        object-fit: cover;
        transition: all 0.3s;
    }

    .pin {
        width: 15px;
        height: 15px;
    }

    .seen3_topic {
        grid-template-rows: 100%
    }

    .seen3_topic h2 {
        align-items: center;
        font-size: 4vw;
    }

    .seen3_sub {
        display: none;
    }

    .img_interior img {
        width: 15px;
        height: 15px;
    }

    .img_interior_2 img {
        width: 15px;
        height: 15px;
    }
    
    .prev,
    .next {
      font-size: 5vw;
      width: 75%;
      height: 30%;
    }
}