.footer {
    height: fit-content;
}

.footermain {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.realfoot {
    width: 100%;
    height: 60%;
    background: none;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.foot_1 {
    display: flex;
    width: 90%;
    height: 86%;
    margin: 2% 5%;
}

.foot_1A {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #222222;
    width: 100%;
    height: 100%;
}
.foot_1A h2{
    font-size: 30px;
    font-weight: 400;
}

.foot_1B {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #222222;
    width: 500px;
    height: 100%;
}

.logocontact {
    margin:10px 10px 0 0;
}

.foot_2 {
    display: flex;
    width: 90%;
    height: 10%;
    margin: 0 5%;
    border-top: #888888 solid 1px;
    color: #222222;
}

.foot_2A {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.foot_2B {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}
.foot_2A_Logo {
    width: 30%;
    height: 20px;
    background: url('/img_videopage/logo.png') no-repeat;
    background-size: contain;
    background-position: left;
    mix-blend-mode: luminosity;
}
.qrline_img {
    width: 150px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
}
.qrline_img:hover {
    scale: 0.9;
}
.addfriend {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    background: #222222;
    width: 150px;
    text-align: center;
    padding: 2px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
@media (max-width:1100px) {
    .costomer_1 h2 {
        font-size: 20px;
    }
    .realfoot {
        width: 100%;
        height: fit-content;
    }
    .foot_1A {
        font-size: 50%;
        width: 90%;
    }
    .foot_1A h2 {
        font-size: 15px;
    }
    .logocontact img {
        width: 15px;
        height: 15px;
    }
    .foot_1B {
        width: 100px;
    }
    .foot_2 {
        font-size: 8px;
    }
    .foot_2A_Logo {
        width: 40%;
    }
    .tel_mail_line {
        display: flex;
        flex-direction: column;
        font-size: 3vw;
    }
    .logocontact {
        margin:2% 4% 0 0;
    }
    .qrline_img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
    .addfriend {
        text-decoration: none;
        color: #ffffff;
        font-size: 3vw;
        background: #222222;
        width: 100px;
        text-align: center;
        padding: 5px 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
}