.list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.list-content {
    width: 800px;
    display: grid;
    grid-template-columns: 15% 20% 15% 30% 10% 10%;
    border-bottom: #1990ff solid 1px;
    padding: 5px 0;
    margin: 0 5%;
}

.list-btgroup {
    display: flex;
}

.list-bt {
    padding: 0 10px;
    background: #1990ff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.list-bt:hover {
    background: #001529;
}