.Subtext1 {
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2vw;
    font-family: 'Caveat';
}

@media (max-width:1100px) {    
    .Subtext1 {
        height: 10vh;
    }
    
    h3 {
        font-size: 4vw;
    }
}