.notic {
    width: 90%;
    padding: 5% 5% 8%;
    border-radius: 4px;
    background: linear-gradient(to right, #440000, #880000, #440000);
    color: #ffffff;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 0;
}

.notic h2{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 10px 0;
}
.notic-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.notic h3{
    font-size: 15px;
    font-weight: 300;
}